using System;
using Abp.Domain.Repositories;
using Abp.Application.Services;
using Abp.Application.Services.Dto;

namespace ${namespace}
{
    using Dto;

    public class ${classname}: AsyncCrudAppService<EntityName, EntityNameDto, Guid, PagedResultRequestDto, CreateEntityNameDto, EntityNameDto>, IEntityNameAppService
    {
        private readonly IRepository<EntityName, Guid> _entityNameCamelCaseRepository;    

        public EntityNameAppService(IRepository<EntityName, Guid> entityNameCamelCaseRepository) 
            :base(entityNameCamelCaseRepository)
        {
            ${cursor}
        }
    }
}