using System;
using Abp.Application.Services;
using Abp.Application.Services.Dto;

namespace ${namespace}
{
    using Dto;

    public interface ${classname}: IAsyncCrudAppService<EntityNameDto, Guid, PagedResultRequestDto, CreateEntityNameDto, EntityNameDto>
    {
         ${cursor}
    }
}